
<!DOCTYPE html>
<html>

<head>
  <title>Homomorphic Encryption Demos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/lumen/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>

  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-12">
          <h2> Integer Vector Homomorphic Encryption Demos </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3><a href="/search">Search on encrypted hosted email</a></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3><a href="/spam">Spam classification on encrypted hosted email</a></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="padding-top: 100px">
    <div class="row">
      <div class="col-md-12">
        <small>Copyleft 2015 Angus Lai, James Payor, Angel Yu.</small>
      </div>
    </div>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>

</html>
